.card {
    display: flex;
    flex-direction: column;

    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #92a0ed6c;
    overflow: hidden;
    width: 100%;
    max-width: 30%;
    max-height: 24rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    overflow-y:scroll ;
  }
  
  .profile {
    width: 50%;
    height: auto;
  }
  
  .innerCardContent {
    padding: 16px;
  }
  
  .name {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 8px;
  }
  
  .classe {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 12px;
  }
  
  .description {
    font-size: 1em;
    margin-bottom: 16px;
  }
  
  .abilities {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .ability {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .abilityIcon {
    width: 30px;
    height: 30px;
  }
  
  .abilityInfo {
    display: flex;
    flex-direction: column;
  }
  
  .abilityName {
    font-weight: bold;
  }
  
  .abilityDescription {
    font-size: 0.9em;
    color: #777;
  }
  